.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-gap: 24px;
}

.item {
    background-color: #000;
    grid-column-start: 1;
    grid-column-end: 4;
}