body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
    
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 84vh;
    gap: 24px;
    padding: 24px;
    flex: 1;
}

.box1 {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: #A8BEC8;
}

.box2 {
    grid-row: 4 / 7;
    grid-column: 1 / 2;
    background-color: #8B2E2E;
}

.box3 {
    grid-row: 1 / 7; 
    grid-column: 2 / 3;
    background-color: #D4937A;
}
.box4 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background-color: #E8DCC8;
}

.box5 {
    grid-row: 3 / 5;
    grid-column: 3 / 4;
    background-color: #7A9E7E;
}

.box6 {
    grid-row: 5 / 7;
    grid-column: 3 / 4;
    background-color: #D4A843;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    padding: 24px;
    padding-top: 0;
    flex: 1;
}

.box7 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: #B5663C;
}

.box8 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background-color: #EDE4A0;
}

.box9 {
    grid-row: 1 / 3;
    grid-column: 4 / 6;
    background-color: #6E8FA0;
}

.box10 {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
    background-color: #5C7A4E;
}

.box11 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
    background-color: #F5EFE0;
}

.grid-container {
    height: 84vh;
}

.footer {
    background-color: #a8bcbc;
    height: 16vh;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.footer h1 {
    font-size: 64px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 900;
    color: black;
}